<p>recoverpassword works!</p>

<div class="container">
  <div class="card text-center">
    <div class="card-header">
      Restablecer contraseña
    </div>
    <div class="cardEmail-body p-3">

      <label style="float: left" >Le enviaremos un correo electronico con mas instrucciones sobre como restablecer su contraseña</label>
      <input class="form-control m-2" type="email" placeholder="Correo electronico" [(ngModel)]="email">

      <Button class="btn btn-primary btn-block w-100 m-2" (click)="forgotPassword()">Enviar un email</Button>
      <label> <a routerLink="/login">Iniciar sesion</a></label>
    </div>
  </div>
</div>
