<body class="body">
  <header>
  </header>
  <div id="left"></div>
  <div id="right" class="container">
    <div class="card text-center">
      <div class="card-header">
        Restablecer contraseña
      </div>
      <div class="cardEmail-body p-3">

        <label style="float: left" >¿Olvidaste tu contraseña?</label>
        <input class="form-control m-2" type="email" placeholder="Ingresa tu correo electronico" [(ngModel)]="user.email">

        <Button class="btn btn-primary btn-block w-100 m-2" (click)="forgotPassword()">Enviar</Button>
        <label><a routerLink="/login">Regresar a inicio de sesión</a></label>
      </div>
    </div>
  </div>
</body>




