<body class="body">
  <header>
  </header>

  <div class="container">
    <div class="card text-center">
      <div class="card-header">
        Crear cuenta
      </div>
      <div class="cardEmail-body p-3">

        <div>
          <label style="float: left" >Nombre</label>
          <input class="form-control m-2" type="name" placeholder="Nombre completo" [(ngModel)]="user.nombre">
        </div>

        <div>
          <label style="float: left" >Email</label>
          <input class="form-control m-2" type="email" placeholder="Correo electronico" [(ngModel)]="user.email">
        </div>

        <div>
          <label style="float: left" >Contraseña</label>
          <input class="form-control m-2" type="password" placeholder="Contraseña" [(ngModel)]="user.password">
        </div>
          <!--
          <label style="float: left" >Repeat Password</label>
          <input class="form-control m-2" type="password" placeholder="Repite tu contraseña" [(ngModel)]="user.password">
          -->
        <div>
          <Button class="btn btn-primary btn-block w-100 m-2" (click)="register()">Registrarse</Button>
          <label>¿Ya tienes cuenta? <a routerLink="/login">Inicia sesión</a></label>
        </div>
      </div>
    </div>
  </div>
</body>
