<app-navbar></app-navbar>
<div class="container">
  <div class="card text-center">
    <div class="card-header">
      LOGIN
    </div>
    <div class="cardEmail-body p-3">

      <label style="float: left" >Email</label>
      <input class="form-control m-2" type="email" placeholder="Ingrese su email" [(ngModel)]="usuario.email">

      <label style="float: left" >Password</label>
      <input class="form-control m-2" type="password" placeholder="Ingrese su contraseña" [(ngModel)]="usuario.password">

    </div>
  </div>
</div>
