<div class="container">
  <div class="card text-center">
    <div class="card-header">
      LOGIN
    </div>
    <div class="cardEmail-body p-3">

      <label style="float: left" >Email</label>
      <input class="form-control m-2" type="email" placeholder="Correo electronico" [(ngModel)]="usuario.email">

      <label style="float: left" >Password</label>
      <input class="form-control m-2" type="password" placeholder="Contraseña" [(ngModel)]="usuario.password">
      <label><a routerLink="/recoverpsw">¿Has olvidado la contraseña?</a></label>

      <Button class="btn btn-primary btn-block w-100 m-2" (click)="LoginEmail()">Iniciar sesión</Button>
      <Button class="btn btn-primary btn-block w-100 m-2" (click)="LoginGoogle()">Ingresar con Google</Button>
      <label>¿No tienes cuenta? <a routerLink="/register">Registrate</a></label>
      <button class="btn btn-primary btn-block w-100 m-2" >Crear cuenta</button>

      <div>
        <button class="btn btn-primary btn-block m-1" (click)="UserActual()">Usuario logeado</button>
        <button class="btn btn-primary btn-block m-1" (click)="logout()">Logout</button>
      </div>

    </div>
  </div>
</div>
