<body class="body">
  <header>
  </header>
  <div class="container">
    <div id="left">
      <img id="img" src="../../assets//undraw_best_place_re_lne9.svg" alt="">
    </div>
    <div id="right" class="container">
      <div class="card text-center">
        <div class="card-header">
          hola!
        </div>
        <div class="cardEmail-body p-3">

          <label style="float: left" >Bienvenido </label>

          <Button class="btn btn-primary btn-block w-100 m-2" (click)="logout()">Cerrar sesion</Button>
        </div>
      </div>
    </div>
  </div>
</body>
